<div class="field-wrapper">
    <div class="neon green">name</div>
    <div  class="neon white">{{item.name}}</div>
</div>
<div class="field-wrapper">
    <div  class="neon green">category</div>
    <div  class="neon white">{{item.category}}</div>
</div>
<div class="field-wrapper">
    <div  class="neon green">price</div>
    <div  class="neon white">{{item.price}} {{item.currency}}</div>
</div>
<div class="field-wrapper">
    <div  class="neon green">tax</div>
    <div  class="neon white">{{item.tax}}</div>
</div>
<div class="field-wrapper">
    <div  class="neon green">quantity</div>
    <div  class="neon white">{{item.quantity}}</div>
</div>


